@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



/* CSS Zeroing*/
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  font-family: 'Roboto', sans-serif;
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}




ul {
  list-style-type: none;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}

h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 122%;
  letter-spacing: -0.5%;
  margin-bottom: 11px;
}

.header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}


.hero {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  min-height: 100vh;
  color: black;
}



.hero_textBlock {
  display: flex;
  justify-content: space-between;
  align-items: last baseline;
  margin-left: 60px;
  margin-bottom: 60px;
  margin-right: 60px;
}

.hero_title {
  font-weight: 900;
  font-size: 128px;
  line-height: 120%;
}

.hero_article {
  font-size: 24px;
  line-height: 1.5;
  margin-top: 20px;
  max-width: 600px;
  opacity: 0;
}


.section {
  position: relative;
  /* makes sticky work relative to this container */
  width: 100%;
  background-color: white;
}

.projects {
  display: flex;
  margin-top: -100vh;
  padding-left: 45%;
  padding-bottom: 100px;
}

.project_list {
  display: flex;
  flex-direction: column;
  gap: 0px;
}
.project-description {
  position: sticky;
  display: flex;
  flex-direction: column;
  top: 0;
  margin-top: -48%;
  padding: 460px 60px 0 60px;
  height: 100vh;
  width: 45%;
}
#container3D {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  pointer-events: none;
  padding-top: 40px;
}



/* change height to make laptop responsive */
.section_about {
  position: relative;
  height: 250vh;
  width: 100%;
}

.about_wrapper {
  position: sticky;
  top: 35%;
  padding-left: 40%;
}

.about_content {
  display: flex;
  flex-direction: column;
  gap: 22px;
  transform: translate3d(0, 50px, 0);
}


.about_title {
  font-size: 24px;
  font-weight: 800;
  line-height: 128%;
  width: fit-content;
  mask: linear-gradient(90deg, rgb(0, 0, 0) -80%, rgba(255, 255, 255, 0) -50%);
  transform: translate3d(0, 100%, 0);
}

.about_text {
  width: 50%;
}

.about_line {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.5%;
  width: fit-content;
  mask: linear-gradient(90deg, rgb(0, 0, 0) -80%, rgba(255, 255, 255, 0) -50%);
  transform: translate3d(0, 100%, 0);
}

.project_item {
  color: black;
  font-size: 64px;
  font-weight: 400;
  opacity: 0;
  pointer-events: none;
  line-height: 130%;
}

.project_link {
  color: black;
}



.pointer {
  position: fixed;
  top: 0;
  left: 0;
  width: 32px;
  height: 24px;
  pointer-events: none;
  z-index: 200;
  fill: #000;
  mix-blend-mode: difference;
}

.home {
  margin-bottom: 50vh;
  padding-bottom: 100px;
}

.page {
  background: #fff;
}

.transition {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
  width: 100%;
  height: 100vh;
  background-color: black;
  pointer-events: none;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
}

.body1 {
  height: 100vh;
  background-color: white;
}



.footer {
  background: #000;
  bottom: 0;
  color: #fff;
  left: 0;
  position: fixed;
  width: 100%;
  height: 50vh;
  z-index: -1;
  padding: 40px 60px 20px 60px;
}

.footer_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}


.footer_list {
  display: flex;
  flex-direction: column;
  letter-spacing: -0.5px;
  font-size: 64px;
}
.footer_socials {
  display: flex;
  gap: 20px;
}

.footer_cv {
  font-size: 256px;
  line-height: 110%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}


/* Shared animation for all footer links */
.hover-fill-white {
  position: relative;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  color: white;
  transition: color 0.4s ease;
}

/* sliding white background */
.hover-fill-white::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  background: white;
  display: block;
  z-index: -1;
  transition: width 0.5s ease;
}

/* animate ONLY the hovered link */
.hover-fill-white:hover {
  color: black;
}

.hover-fill-white:hover::before {
  width: 100%;
}

.hero_contact {
  font-size: 64px;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 0 10px;
  position: relative;
  display: inline-block; /* ensures pseudo-element aligns correctly */
  color: black; /* initial text color */
  text-decoration: none; /* remove default underline */
}

/* the animated underline */
.hero_contact::after {
  content: '';
  position: absolute;
  bottom: 0;      /* stick to bottom of text */
  left: 0;
  width: 0%;      /* start hidden */
  height: 5px;    /* thickness of the underline */
  background-color: black;
  transition: width 0.3s ease;
}

/* hover triggers the animation */
.hero_contact:hover::after {
  width: 100%;
}





.linkedin-border {
  display: inline-block;
  width: 1px;
  height: 100%;
  background: white;
  margin-right: 20px;
  vertical-align: middle;
}


