
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



/* CSS Zeroing*/
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  font-family: 'Roboto', sans-serif;
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}




/* Custom CSS */


/*

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.gradientBody {
  background-color: #071c39;
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.gradient {
  width: 100%;
  height: 100vh;
  filter: blur(150px);
  background-image: linear-gradient(hsl(222, 84%, 60%), hsl(164, 79%, 71%));
  animation: rotate 50s cubic-bezier(0.8, 0.2, 0.2, 0.8) alternate infinite;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

@media (min-width: 720px) {
  .gradient {
    width: 500px;
    height: 500px;
    filter: blur(100px);
  }
}

* {
  transition: all 0.5s ease-out;
}
*/


a {
  text-decoration: none;
  color: inherit;
}

h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 122%;
  letter-spacing: -0.5%;
  margin-bottom: 11px;
}

.header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.header_contact {
  font-size: 12px;
  font-weight: 400;
  line-height: 200%;
  letter-spacing: 1px;
  padding: 0px 5px;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 100vh;
  color: black;
}

.hero_textBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 60px;
  margin-bottom: 60px;
}

.hero_title {
  font-weight: 900;
  font-size: 128px;
  line-height: 120%;
}

.hero_article {
  font-size: 20px;
  line-height: 1.5;
  margin-top: 20px;
  max-width: 600px;
  opacity: 0;
}


.section {
  width: 100%;
  min-height: 200vh;
  z-index: 100;
  background-color: white;
}

.project_list {
  display: flex;
  flex-direction: column;
  padding-left: 45%;
  gap: 0px;
  list-style-type: none;
}




.section_about {
  position: relative;
  height: 250vh;
  width: 100%;
}

.about_wrapper {
  position: sticky;
  top: 35%;
  padding-left: 40%;
}

.about_content {
  display: flex;
  flex-direction: column;
  gap: 22px;
  transform: translate3d(0, 50px, 0);
}


.about_title {
  font-size: 24px;
  font-weight: 800;
  line-height: 128%;
  width: fit-content;
  mask: linear-gradient(90deg, rgb(0, 0, 0) -80%, rgba(255, 255, 255, 0) -50%);
  transform: translate3d(0, 100%, 0);
}

.about_text {
  width: 50%;
}

.about_line {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.5%;
  width: fit-content;
  mask: linear-gradient(90deg, rgb(0, 0, 0) -80%, rgba(255, 255, 255, 0) -50%);
  transform: translate3d(0, 100%, 0);
}

.project_item {
  color: black;
  font-size: 64px;
  font-weight: 400;
  opacity: 0;
  pointer-events: none;
  line-height: 130%;
}

.project_link {
  color: black;
}

/*
.project_link:hover {
  color: red !important;
}
  */




#container3D {
  position: fixed;
  inset: 0;
  z-index: 100;
  pointer-events: none;
}


.pointer {
  position: fixed;
  top: 0;
  left: 0;
  width: 32px;
  height: 24px;
  pointer-events: none;
  z-index: 200;
  fill: #000;
  mix-blend-mode: difference;
}

.footer {
  background-color: #222;
  color: white;
  height: 50vh;
  padding: 70px 60px 60px 60px;
  position: absolute;
  translate: 0 -50vh;
  width: 100%;
  z-index: -1;
}


.transition {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
  width: 100%;
  height: 100vh;
  background-color: black;
  pointer-events: none;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
}

.body1 {
  height: 100vh;
  background-color: white;
}







.footer_top {
  display: flex;
  justify-content: space-between;
}

.footer_gmailBox {}

.footer_gmailTitle {}

.footer_gmailLink {}

.footer_copyright {}

.footer_center {
  text-align: center;
}

.footer_socialsTitle {}

.footer_socials {
  display: flex;
  gap: 5px;
  flex-direction: column;
  justify-content: center;
}

.footer_socialLink {}

.footer_bottom {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}

.footer_place {
  align-self: flex-end;
}

.footer_phoneBox {}

.footer_callTitle {}

.footer_phoneLink {}




.footer_top {
  display: flex;
  justify-content: space-between;
}
.footer_gmailBox {
}
.footer_gmailTitle {
}
.footer_gmailLink {
}
.footer_copyright {
}
.footer_center {
  text-align: center;
}
.footer_socialsTitle {
}
.footer_socials {
  display: flex;
  gap: 5px;
  flex-direction: column;
  justify-content: center;
}
.footer_socialLink {
}
.footer_bottom {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}
.footer_place {
    align-self: flex-end;
}
.footer_phoneBox {
}
.footer_callTitle {
}
.footer_phoneLink {
}
